requests
beautifulsoup4
markdownify
tqdm
python-dotenv
sentence-transformers
chromadb
groq
rank-bm25
tiktoken
ragas==0.1.21
datasets
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-openai
langchain-huggingface
pytest