requests
beautifulsoup4
markdownify
tqdm
python-dotenv
sentence-transformers
chromadb
groq
rank-bm25
tiktoken
datasets
langchain
langchain-community
langchain-core
langchain-openai
ragas==0.1.21
langfuse
gradio==5.32.1